.overlay {
	width: 100%;
	color: white;
	position: absolute;
	background-color: rgb(15, 32, 39);
	background: linear-gradient(
		to bottom,
		rgba(15, 32, 39, 0.5),
		transparent 100%
	);
	padding: 1rem 0 1rem 0;
	opacity: 0%;
	transition: opacity 1s;
}

.imgContainer {
	position: relative;
	display: flex;
	justify-content: center;
	width: fit-content;
	flex-direction: row-reverse;
}

.imgContainer:hover .overlay {
	display: block;
	opacity: 100%;
	transition: opacity 1s;
}

.galleryContainer {
	width: -webkit-fill-available;
	width: -moz-fill-available;
	display: inline-grid;
	max-width: 50%;
	justify-items: center;
	padding: 1rem 5rem;
}

@media (max-width: 768px){
	.galleryContainer {

		max-width: 100%;

	}
}
img {
	max-width: 100%;
	margin-bottom: 1rem;
	max-height: 90vh;
}
